{% extends 'core/blocks/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<br>
<h1 class="logo-text">Warp Management</h1>
<br>
                <section class="navigation-section">
                    <div class="card-grid">

                        <a href="/add_new_warp_design/" class="nav-card">
                            <div class="card-icon">
                                <i class="fas fa-cut"></i>
                            </div>
                            <div class="card-content">
                                <h4>Add New Warp Design</h4>
                                
                            </div>
                            <div class="card-arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="/warp_design_list/" class="nav-card">
                            <div class="card-icon">
                                <i class="fas fa-cut"></i>
                            </div>
                            <div class="card-content">
                                <h4>Warp Design List</h4>
                                
                            </div>
                            <div class="card-arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="/make_warp/" class="nav-card">
                            <div class="card-icon">
                                <i class="fas fa-cut"></i>
                            </div>
                            <div class="card-content">
                                <h4>Make Warp</h4>
                                
                            </div>
                            <div class="card-arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="/warp_list/" class="nav-card">
                            <div class="card-icon">
                                <i class="fas fa-cut"></i>
                            </div>
                            <div class="card-content">
                                <h4>Warp List</h4>
                            </div>
                            <div class="card-arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                    </div>
                </section>
            </div>
        </main>
 {% endblock %}