{% extends 'core/blocks/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<br>
<h1 class="logo-text">Yarn Management</h1>
<br>
                <section class="navigation-section">
                    <div class="card-grid">

                        <a href="/create_yarn/" class="nav-card">
                            <div class="card-icon">
                                <i class="fas fa-cut"></i>
                            </div>
                            <div class="card-content">
                                <h4>Create New Yarn</h4>
                                
                            </div>
                            <div class="card-arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="/give_yarn/" class="nav-card">
                            <div class="card-icon">
                                <i class="fas fa-cut"></i>
                            </div>
                            <div class="card-content">
                                <h4>Give Or Buy Yarn</h4>
                                
                            </div>
                            <div class="card-arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="/yarn_list/" class="nav-card">
                            <div class="card-icon">
                                <i class="fas fa-cut"></i>
                            </div>
                            <div class="card-content">
                                <h4>Yarn List</h4>
                                
                            </div>
                            <div class="card-arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
                        <a href="/warp_wise_yarn_list/" class="nav-card">
                            <div class="card-icon">
                                <i class="fas fa-cut"></i>
                            </div>
                            <div class="card-content">
                                <h4>Warp wise Yarn List</h4>
                                
                            </div>
                            <div class="card-arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </a>
      
                    </div>
                </section>
            </div>
        </main>
 {% endblock %}